#mapid {
    height: 600px; }

#users { 
    text-align: center
}

.myForm
{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.flex-fill {
    flex:1 1 auto;
 }

html {
    height: 100vh;
}
#users {
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 70px;
}

main {
    flex: 1;
    margin-top: 56px;
}

footer {
    height: 10vh;
}

table {
    width: 100%;
}

tr {
    border-top:1px solid black;
    text-align: center;
}

th {
    text-align: center;
}

